body{
    text-align: center;
    margine:0px;

}
.page-heading{
color:red;
}
.details p{
    display: inline-block;
    padding-right: 20%;
    margin: 2px;
}
.delete-button {
    display: inline-block;
}
.details {
    display: inline-block;
    width:100%;
    margin: 0px;
    background-color: aqua;
}
h1 {
    display: inline-block;
}
li {
    list-style: none;
     width: 30%;
       margin: auto;
}

li {
    display: flex;
     flex-direction: row; 
     justify-content: space-between;
      align-items: center;
}

li .details {
    flex-grow: 1;
     display: flex;
     margin: 0px;
     flex-direction: row;
     justify-content: space-between;

}

ul {
    margin:0px;
   
}
