<html>
    <head>
<title>
    <%=locals.title %>
</title>
    </head>
    <body>
        <h1>contsct list</h1>
        <div>
            <ol>
                <% for(let i of contact_list){%>
<li>
    <p><%= i.name%></p>
    <p><%= i.phone%></p>
</li>
               <% }%>
            </ol>
        </div>
        <form action="/create-contact" method="POST">
        <input type="text" name="name" placeholder="enter name">
        <input type="text" name="phone" placeholder="enter phone">
        <button type="submit">ADD CONTACT</button>
    </form>
    </body>
</html>